body{
background:linear-gradient(135deg,#0f172a,#1e293b,#111827);
}

.main{
background:rgba(255,255,255,0.05);
padding:20px;
border-radius:20px;
}

/* TOP BAND FIX */
.block-container{
padding-top:0rem !important;
padding-bottom:2rem !important;
padding-left:2rem !important;
padding-right:2rem !important;
max-width:100% !important;
}

header{
visibility:hidden;
}

[data-testid="stHeader"]{
background:transparent !important;
height:0px !important;
}

[data-testid="stToolbar"]{
top:0.5rem !important;
right:2rem !important;
}

/* TEXT */
h1,h2,h3{
color:white;
text-align:center;
}

/* BUTTON */
.stButton>button{
width:100%;
border-radius:12px;
background:linear-gradient(90deg,#06b6d4,#3b82f6);
color:white;
font-weight:bold;
border:none;
padding:12px;
}

/* UPLOAD */
.stFileUploader{
background:rgba(255,255,255,0.08);
padding:15px;
border-radius:15px;
}

/* METRIC */
.metric-box{
background:rgba(255,255,255,0.08);
padding:15px;
border-radius:15px;
text-align:center;
color:white;
}